.navbar{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position: sticky;
    top:0;
    left:0;
    background-color: var(--black);
    z-index: 100;
}

.logo{
    font-size: 1.2rem;
}

.links{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:1.5rem;
}

.link{
    color:var(--grey);
    font-size: 1rem;
    font-weight: 600;
}

.link:hover{
    color:var(--white);
    transition: all 0.3s;
}

.mobile-drawer{
    display: none;
}



@media only screen and (max-width:800px){
.navbar{
    padding:1.5rem
}

.links{
    display: none;
}
.mobile-drawer{
    display: block;
}

.logo{
    font-size: 1rem;
}

.lonk{
    font-size: 0.8rem;
}

.drawer-div{
    width: 40vw;
    background-color: var(--black);
    height: 100vh;
    padding: 0.5rem 1.5rem;
}



}