
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Inter:wght@200;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Mulish:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');


:root{
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

body {
  margin: 0;
  /* height: 200vh; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  var(--black);
  color:var(--white);
  font-family: 'Inter', sans-serif;
  height:100vh;
}

html{
  scroll-behaviour: smooth;
}

/* for custom selection */
::selection{
background-color: var(--blue);
color:var(--white)
}

/*  custom scrollbar */
/* width */
 ::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
} 

a{
  color:var(--white) !important;
  text-decoration:none !important;
}

/* To prevent image drag */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  }

  [data-theme="dark"] {
    --white: #ffffff;
    --black: #111;
    --grey: #888;
    --darkgrey: #1b1b1b;
  }
  
  [data-theme="light"] {
    --white: #111;
    --black: #fff;
    --grey: #888;
    --darkgrey: #f3f3f3;
  }
  



